<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustDoIT</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="/static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link type="Image/x-icon" href="/static/img/icon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container header__container flex">
        <a href="/"><img src="/static/img/icon.svg" alt="Лого" class="header__icon"></a>
        <div class="vertical-line"></div>
        <nav class="header__nav">
            <ul class="header__list list-reset flex">
                <a href="/" class="header__item">Главная</a>
                <a href="/questions" class="header__item">Заявки от проектантов</a>
                <a href="/tutor_cards" class="header__item">Карточки консультантов</a>
            </ul>
        </nav>
        <a href="/profile/{{ user.id }}" class="header__profile profile">
            <svg class="profile__avatar" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 13C8.13401 13 5 16.134 5 20V22C5 22.5523 4.55228 23 4 23C3.44772 23 3 22.5523 3 22V20C3 15.0294 7.02944 11 12 11C16.9706 11 21 15.0294 21 20V22C21 22.5523 20.5523 23 20 23C19.4477 23 19 22.5523 19 22V20C19 16.134 15.866 13 12 13Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11ZM12 13C15.3137 13 18 10.3137 18 7C18 3.68629 15.3137 1 12 1C8.68629 1 6 3.68629 6 7C6 10.3137 8.68629 13 12 13Z"></path>
            </svg>
        </a>
    </div>
</header>

<hr class="horizontal-line">

<main class="main">
    <section id="description" class="description">
        <div class="container description__container">
            <p class="description__text">Данная платформа создает уникальную систему, где профессионалы могут обмениваться идеями, опытом и знаниями. Здесь проектанты могут находить наставников, которые помогут им развивать навыки и обеспечивать поддержку в процессе работы над проектами. Наставники, в свою очередь, могут делиться своим опытом, обучая новое поколение специалистов и внося вклад в их профессиональный рост.</p>
        </div>
    </section>

    <section id="cards" class="cards">
        <div class="container cards__container swiper">
            <div class="cards__content">
                <h2 class="cards__title2">Смотри карточки наставников</h2>
                <h1 class="cards__title1">находи нужного человека </h1>

                <ul class="cards__list list-reset flex swiper-wrapper">
                    {% for tutor in tutors %}
                        <li onclick="window.location.href='/profile/{{ tutor.user_id }}'"
                            class="cards__item swiper-slide">
                            <article class="cards__preview">
                                <div class="cards__preview_image">
                                    <img class="cards__photo" src="{{ tutor.photo.url }}" alt="Аватар">
                                </div>
                                <div class="cards__preview_content flex">
                                    <div class="cards__preview_text">
                                        <p class="cards__preview_name">{{ tutor.first_and_last_name() }}</p>
                                        <p class="cards__preview_descr">{{ tutor.status }}</p>
                                        <br>
                                        <p class="cards__preview_descr">{{ tutor.description }}</p>
                                    </div>
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        
            <div class="swiper-pagination"></div>
        </div>
        
        <div class="swiper-button-prev">
            <i class="ri-arrow-left-s-line"></i>
        </div>
        <div class="swiper-button-next">
            <i class="ri-arrow-right-s-line"></i>
        </div>
        <div class="swiper-pagination"></div>

    </section>

    <section id="questions" class="questions">
        <div class="container questions__container swiper">
            <div class="questions__content">
                <h2 class="questions__title2">Найди ответ или</h2>
                <h1 class="questions__title1">задай свой вопрос</h1>

                <ul class="questions__list list-reset flex swiper-wrapper">
                    {% for question in questions %}
                        <li class="questions__item swiper-slide" onclick="window.location.href='/questions/'">
                            <p class="questions__item_question">{{ question.text }}</p>
                            <div class="questions__item_author flex">
                                <img src="{{ question.author.photo.url }}" alt="Аватар" class="questions_block__avatar">
                                <div class="questions__item_author_info">
                                    <p class="questions__name">{{ question.author.first_and_last_name() }}</p>
                                    <p class="questions__direction">{{ question.author.status }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="swiper-questions-button-prev">
                <i class="ri-arrow-left-s-line"></i>
            </div>
            <div class="swiper-questions-button-next">
                <i class="ri-arrow-right-s-line"></i>
            </div>
            <div class="swiper-pagination-questions"></div>
        </div>
    </section>
</main>

<script src="/static/js/swiper-bundle.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>