<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustDoIT</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="/static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link type="Image/x-icon" href="/static/img/icon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container header__container flex">
        <a href="/"><img src="/static/img/icon.svg" alt="Лого" class="header__icon"></a>
        <div class="vertical-line"></div>
        <nav class="header__nav">
            <ul class="header__list list-reset flex">
                <a href="/" class="header__item">Главная</a>
                <a href="/questions" class="header__item">Вопросы от проектантов</a>
                <a href="/tutor_cards" class="header__item">Карточки наставников</a>
            </ul>
        </nav>
        <a href="/profile/{{ user.id }}" class="header__profile profile">
            <svg class="profile__avatar" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 13C8.13401 13 5 16.134 5 20V22C5 22.5523 4.55228 23 4 23C3.44772 23 3 22.5523 3 22V20C3 15.0294 7.02944 11 12 11C16.9706 11 21 15.0294 21 20V22C21 22.5523 20.5523 23 20 23C19.4477 23 19 22.5523 19 22V20C19 16.134 15.866 13 12 13Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11ZM12 13C15.3137 13 18 10.3137 18 7C18 3.68629 15.3137 1 12 1C8.68629 1 6 3.68629 6 7C6 10.3137 8.68629 13 12 13Z"></path>
            </svg>
        </a>
    </div>
</header>

<hr class="horizontal-line">

<main class="user">
    <div class="container user__container">
        <form method="post" enctype="multipart/form-data" action="/edit_profile/" class="user__content flex">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <div class="user__avatar">
                <img class="user__image" id="displayImg" alt="Аватар" src="{{ profile.photo.url }}">
                <input type="file" id="profile{{ profile.id }}_photo" name="profile{{ profile.id }}_photo" class="user__avatar_input">
            </div>

            <div class="user__input">
                <div class="user__input_top">
                    <div class="user__data">
                        <label for="last_name" class="user__form_title">Фамилия</label>
                        <input type="text" id="last_name" name="last_name" class="user__form_input" placeholder="Введи свою фамилию" required value="{{ profile.last_name }}">
                    </div>

                    <div class="user__data">
                        <label for="first_name" class="user__form_title">Имя</label>
                        <input type="text" id="first_name" name="first_name" class="user__form_input" placeholder="Введи своё имя" required value="{{ profile.first_name }}">
                    </div>

                    <div class="user__data">
                        <label for="middle_name" class="user__form_title">Отчество</label>
                        <input type="text" id="middle_name" name="middle_name" class="user__form_input placeholder="Введи своё отчество" required value="{{ profile.middle_name }}">
                    </div>
                </div>
                <div class="user__form">
                    <p class="user__form_info">Информация</p>

{#                    <div class="user__data">#}
{#                        <label for="description" class="user__form_title">Напиши свои компетенции</label>#}
{#                        <input type="text" id="skills" name="skills" class="user__form_input" placeholder="Опиши свои умения" value="">#}
{#                    </div>#}

                    <div class="user__data flex">
                        <div class="user__data_left">
                            <span class="user__form_title">Telegram</span>
                            <input type="text" id="telegram" name="telegram" class="user__form_input" placeholder="Введите свой telegram" value="" required>
                        </div>

                        <div class="user__data_right">
                            <span class="user__form_title">Email</span>
                            <input type="email" id="email" name="email" class="user__form_input" placeholder="Введите свой e-mail" value="{{ profile.user.username }}" required>
                        </div>
                    </div>

                    <div class="user__data">
                        <label for="description" class="user__form_title">Расскажи о себе</label>
                        <input type="text" id="description" name="description" class="user__form_input" placeholder="Опиши свои умения" value="{{ profile.description }}">
                    </div>

                    {% if is_mentor %}
                        <span class="user__form_title">Компетенции</span>
                        <ul class="user__area list-reset">
                            <li class="user_item flex">
                                {% if profile.specialization_1 == 'Аналитика' %}
                                    <input id="specialization" name="Аналитика" type="checkbox"
                                           class="filter__checkbox" value="Аналитика" checked>
                                {% else %}
                                    <input id="specialization" name="Аналитика" type="checkbox"
                                           class="filter__checkbox" value="Аналитика">
                                {% endif %}
                                <label class="filter__name" for="specialization">Аналитика</label>
                            </li>
                            <li class="user_item flex">
                                {% if profile.specialization_2 == 'Дизайн' %}
                                    <input id="specialization" name="Дизайн" type="checkbox"
                                           class="filter__checkbox" value="Дизайн" checked>
                                {% else %}
                                    <input id="specialization" name="Дизайн" type="checkbox"
                                           class="filter__checkbox" value="Дизайн">
                                {% endif %}
                                <label class="filter__name" for="specialization">Дизайн</label>
                            </li>
                            <li class="user_item flex">
                                {% if profile.specialization_3 == 'Frontend' %}
                                    <input id="specialization" name="Frontend" type="checkbox"
                                           class="filter__checkbox" value="Frontend" checked>
                                {% else %}
                                    <input id="specialization" name="Frontend" type="checkbox"
                                           class="filter__checkbox" value="Frontend">
                                {% endif %}
                                <label class="filter__name" for="specialization">Frontend</label>
                            </li>
                            <li class="user_item flex">
                                {% if profile.specialization_4 == 'Backend' %}
                                    <input id="specialization" name="Backend" type="checkbox"
                                           class="filter__checkbox" value="Backend" checked>
                                {% else %}
                                    <input id="specialization" name="Backend" type="checkbox"
                                           class="filter__checkbox" value="Backend">
                                {% endif %}
                                <label class="filter__name" for="specialization">Backend</label>
                            </li>
                            <li class="user_item flex">
                                {% if profile.specialization_5 == 'Teamlead' %}
                                    <input id="specialization" name="Teamlead" type="checkbox"
                                           class="filter__checkbox" value="Teamlead" checked>
                                {% else %}
                                    <input id="specialization" name="Teamlead" type="checkbox"
                                           class="filter__checkbox" value="Teamlead">
                                {% endif %}
                                <label class="filter__name" for="specialization">Team-leader</label>
                            </li>
                        </ul>
                        </div>
                        <!--
                        <div class="user__form">
                            <p id="timetable_text" class="consult_question">
                                У вас есть возможность проводить консультации для проектантов
                                <br><br>
                                Хотите ли вы проводить консультации?
                                <br>
                            </p>
                            <div class="user_item flex">
                                {% if profile.have_schedule == True %}
                                    <input class="filter__checkbox" type="checkbox" id="consult_checkbox"
                                           name="want_consult" checked>
                                {% else %}
                                    <input class="filter__checkbox" type="checkbox" id="consult_checkbox"
                                           name="want_consult">
                                {% endif %}
                                <label class="filter__name" for="consult_checkbox">Да, я хочу проводить
                                    консультации</label>
                            </div>
                        </div>
                        <div id="want_consult" class="div_want_consult">
                            <p class="user__input_timetable-title">Моё расписание</p>
                            <p id="timetable_text" class="timetable_text">
                                Выберите время, когда вам будет удобно проводить консультации.
                                Невыбранные ячейки будут помечены как недоступные для записи
                            </p>

                            <table class="user__input_timetable" id="timetable">
                                <tr>
                                    <th class="timetable__head_cell"></th>
                                    {% for week_day,date in week_days.items() %}
                                        <th class="timetable__head_cell">
                                            {{ week_day }} {{ '{}.{}'.format(date[2], date[1]) }}
                                        </th>
                                    {% endfor %}
                                </tr>
                                {% for time in schedule['Понедельник'].keys() %}
                                    <tr>
                                        <td class="timetable__body_cell-time">{{ time }}:00 - {{ time|int + 1 }}:00</td>
                                        {% for week_day in schedule.keys() %}
                                            {% if schedule[week_day][time] == 'Свободно' %}
                                                <td class="timetable__body_cell">
                                                    <label for="timetable__body_cell-input"></label>
                                                    <input checked type="checkbox" id="timetable__body_cell-input"
                                                           name="date_times"
                                                           value="{{ week_day }} {{ time }}">
                                                </td>
                                            {% else %}
                                                <td class="timetable__body_cell_unavailable">
                                                    <label for="timetable__body_cell-input"></label>
                                                    <input type="checkbox" id="timetable__body_cell-input"
                                                           name="date_times"
                                                           value="{{ week_day }} {{ time }}">
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>-->
                    {% endif %}

                <input type="submit" class="btn btn-reset user__btn" value="Сохранить изменения">
            </div>
        </form>
    </div>
</main>

<!-- <script>
    const div = document.getElementById('want_consult');
    const checkbox = document.getElementById('consult_checkbox')
    if (checkbox.checked)
        div.style.display = 'block';
    else
        div.style.display = 'none'

    function toggle() {
        const div = document.getElementById('want_consult');
        if (this.checked)
            div.style.display = 'block';
        else
            div.style.display = 'none'
    }

    document.getElementById('consult_checkbox').onchange = toggle;
</script> -->
<script src="/static/js/swiper-bundle.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>