<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustDoIT</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" crossorigin="">
    <link rel="stylesheet" href="/static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/media.css">
    <link type="Image/x-icon" href="/static/img/icon.svg" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container header__container flex">
        <a href="/"><img src="/static/img/icon.svg" alt="Лого" class="icon"></a>
        <div class="vertical-line"></div>
        <nav class="header__nav">
            <ul class="header__nav_list list-reset flex">
                <a href="/" class="header__nav_item">Главная</a>
                <a href="/questions" class="header__nav_item">Вопросы от проектантов</a>
                <a href="/tutor_cards" class="header__nav_item">Карточки наставников</a>
            </ul>
        </nav>
        <a href="/profile/{{ user.id }}" class="header__profile">
            <svg class="profile-avatar" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12 13C8.13401 13 5 16.134 5 20V22C5 22.5523 4.55228 23 4 23C3.44772 23 3 22.5523 3 22V20C3 15.0294 7.02944 11 12 11C16.9706 11 21 15.0294 21 20V22C21 22.5523 20.5523 23 20 23C19.4477 23 19 22.5523 19 22V20C19 16.134 15.866 13 12 13Z"></path>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11ZM12 13C15.3137 13 18 10.3137 18 7C18 3.68629 15.3137 1 12 1C8.68629 1 6 3.68629 6 7C6 10.3137 8.68629 13 12 13Z"></path>
            </svg>
        </a>
    </div>
</header>
<hr class="header__line">

<main class="user">
    <div class="container user__container">
        <div class="user__content flex">
            <div class="user__avatar">
                <img class="user__image" alt="Аватар" src="{{ profile.photo.url }}">
                {% if profile.user == user %}
                    <form action="/edit_profile">
                        <input type="submit" value="Редактировать профиль" class="btn btn-reset user__btn">
                    </form>
                    <form action="/logout">
                        <input type="submit" value="Выход" class="btn btn-reset user__btn">
                    </form>
                {% endif %}
            </div>
            <div class="user__input">
                <div class="user__input_top flex">
                    <h1 class="user__name">{{ profile.first_and_last_name() }}</h1>
                    {% if profile.user == user %}
                        <svg onclick="window.location.href='/notifications'" class="notice-btn" width="46" height="46"
                             viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M46 23C46 35.7025 35.7025 46 23 46C10.2975 46 0 35.7025 0 23C0 10.2975 10.2975 0 23 0C35.7025 0 46 10.2975 46 23Z"></path>
                            <path d="M19.9444 31.8095H25.0556C25.0556 33.0143 23.9056 34 22.5 34C21.0944 34 19.9444 33.0143 19.9444 31.8095ZM34 29.619V30.7143H11V29.619L13.5556 27.4286V20.8571C13.5556 17.4619 16.1111 14.5048 19.9444 13.519V13.1905C19.9444 11.9857 21.0944 11 22.5 11C23.9056 11 25.0556 11.9857 25.0556 13.1905V13.519C28.8889 14.5048 31.4444 17.4619 31.4444 20.8571V27.4286L34 29.619ZM28.8889 20.8571C28.8889 17.7905 26.0778 15.381 22.5 15.381C18.9222 15.381 16.1111 17.7905 16.1111 20.8571V28.5238H28.8889V20.8571Z"
                                  fill="white"></path>
                        </svg>
                    {% endif %}
                </div>
                <div class="user__form">
                    <p class="user__form_text">Информация</p>
                    {% if profile.description|length > 0 %}
                        <span class="user__form_title">Обо мне</span>
                        <p class="user__form_data">{{ profile.description }}</p>
                    {% endif %}
                    <div class="flex">
                        <div class="user__form_input_left">
                            <span class="user__form_title">Email</span>
                            <p class="user__form_data">{{ profile.user.username }}</p>
                        </div>
                    </div>
                    {% if profile.status == 'Наставник' and profile.get_specializations()|length > 0 %}
                        <span class="user__form_title">В чём разбираюсь</span>
                        <div class="flex">
                            <ul class="list-reset">
                                {% for specialization in specialization_list %}
                                    <li>{{ specialization }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                {% if profile.have_schedule %}
                    <form method="post" action="/send_consult_request/">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input type="hidden" name="mentor" value="{{ profile.user.id }}">
                        <p class="user__input_timetable-title">Моё расписание</p>
                        <p id="timetable_text" class="timetable_text">
                            Кликните по времени, когда вам было бы удобно получить консультацию
                        </p>

                        <table class="user__input_timetable" id="timetable">
                            <tr>
                                <th class="timetable__head_cell"></th>
                                {% for week_day,date in week_days.items() %}
                                    <th class="timetable__head_cell">
                                        {{ week_day }} {{ '{}.{}'.format(date[2], date[1]) }}
                                    </th>
                                {% endfor %}
                            </tr>
                            {% for time in week['пн.'].keys() %}
                                <tr>
                                    <td class="timetable__body_cell-time">{{ time }}:00 - {{ time|int + 1 }}:00</td>
                                    {% for week_day in week.keys() %}
                                        {% if week[week_day][time] == 'Свободно' %}
                                            <td class="timetable__body_cell">
                                                <label for="timetable__body_cell-input"></label>
                                                <input type="checkbox" id="timetable__body_cell-input"
                                                       name="date_time"
                                                       value="{{ week_days[week_day][0] }} {{ week_days[week_day][1] }} {{ week_days[week_day][2] }} {{ time }}">
                                            </td>
                                        {% elif week[week_day][time] == 'Занято' %}
                                            <td class="timetable__body_cell_occupied"></td>
                                        {% else %}
                                            <td class="timetable__body_cell_unavailable"></td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>

                        <div id="timetable_bottom_text" class="user__text_timetable-bottom flex">
                            <p id="timetable_bottom" class="timetable_text">
                                В комментарии укажите по какому вопросу вы хотите получить консультацию
                            </p>
                        </div>
                        <div id="timetable_bottom_input" class="user__input_timetable-bottom flex">
                            <br>
                            <button type="submit" class="btn btn-reset user__input_timetable-btn">
                                Отправить
                            </button>
                            <label>
                                <input type="text" name="comment" placeholder="Добавьте комментарий"
                                       class="user__input_timetable-input"
                                       required>
                            </label>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</main>

<script>
    document.querySelectorAll('.timetable__body_cell').forEach(td => {
        td.addEventListener('click', () => {
            const hiddenTextBlock = document.getElementById('timetable_bottom_text');
            const hiddenInputBlock = document.getElementById('timetable_bottom_input')
            const timetableText = document.getElementById('timetable_text');

            hiddenInputBlock.style.display = 'flex';
            hiddenTextBlock.style.display = 'flex';
            timetableText.style.display = 'none';
        });
    });

    {#function get_selected_time() {#}
    {#    const checkedBoxes = document.querySelectorAll('input[name=date_time]:checked');#}
    {#    return checkedBoxes[0].value;#}


    const checkboxes = document.querySelectorAll('.timetable__body_cell input[type="checkbox"]');
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            checkboxes.forEach(cb => {
                if (cb !== checkbox) {
                    cb.checked = false;
                }
            });
        });
    });
</script>
<script src="/static/js/swiper-bundle.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>